
    body{
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      background: black
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
      canvas{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        right: 0;
        top: 0;
        left: auto;
      }
      #jeeFaceFilterCanvas{
        opacity: 0
      }
      #face_wrap_wrap{
        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
      }
      #face_wrap_wrap{
        pointer-events: none;
        right: 0;
        z-index: 1000;
        width: 1000px;
        height: 1000px
      }
      .face_wrap_left{
        transform:rotateY(60deg) translateX(-50%) !important
      }
      .face_wrap_right{
        transform:rotateY(-60deg) translateX(-50%) !important
      }
      body{
        transform: scale(0.9);
        transform-origin: left top
      }
      #face_wrap_1,
      #face_wrap_2,
      #face_wrap_3,
      #face_wrap_4{
        left: -1000px;
        top: -1000px;
        transform-origin: 0 0 75px;
        transform:translateX(-50%);
        width: 150px;
        height: 150px;
        position: absolute;
        /*margin-left:-75px;*/
        margin-top:-75px;
        z-index: 1000;
        transition: 1s transform
      }
      #face_wrap_1>div,
      #face_wrap_2>div,
      #face_wrap_3>div,
      #face_wrap_4>div{
        position: absolute;
        margin-left:0px;
        margin-top:0px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        /*display: none;*/
        width: 100%;
        height: 100%;

      }
      .face_ani{
        transform: scaleY(4.5) scaleX(1.5);
        transform-origin: center 47%;
      }
      #face_1{
        background-image: url(face-01.png);
        display: none;
        opacity: 0;
      }
      #face_2{
        background-image: url(face-02.png);
        display: block;
        opacity: 0;
        transition: 1s cubic-bezier(0,.71,.21,1.45)
      }
      #face_3{
        background-image: url(face-03.png);
        display: none;
        opacity: 0;
      }
      #face_4{
        background-image: url(face-04.png);
        display: none;
        opacity: 0;
      }
      #face_5{
        background-image: url(face-05.png);
        display: none;
        opacity: 0;
      }
      #face_6{
        background-image: url(face-06.png);
        display: block;
        opacity: 0;
        transition: 1s cubic-bezier(0,.71,.21,1.45)
      }
      #face_7{
        background-image: url(face-07.png);
        display: none;
        opacity: 0;
      }
      #face_8{
        background-image: url(face-08.png);
        display: none;
        opacity: 0;
      }
      .abs_show{
        opacity:1 !important;
      }
      *{z-index: 10}
      #jeeFaceFilterCanvas{
        opacity: 0;
      }
      #background{background: white !important;
        width: 1000px;
        height: 1000px;
        right: 0;
        position: absolute;
        opacity: 0;
        top: 0;
        z-index: 2}
      #background_back
      {background: black !important;
        width: 1000px;
        height: 1000px;
        right: 0;
        position: absolute;
        top: 0;
        z-index: 1;
      }
      #circle{
        width: 100px;
        height: 100px;
        left: 50%;
        top: 50%;
        background-image: url(color.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100000000000;
        position: absolute;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
      }
.op_1{
  opacity: 1 !important
}
@keyframes rotating {
  from {
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -ms-transform:  translate(-50%, -50%) rotate(360deg);
    -moz-transform:  translate(-50%, -50%) rotate(360deg);
    -webkit-transform:  translate(-50%, -50%) rotate(360deg);
    -o-transform:  translate(-50%, -50%) rotate(360deg);
    transform:  translate(-50%, -50%) rotate(360deg);
  }
}