
    body{
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      background: black
    }
      canvas{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        left: 50%;
        top: 0;
        transform: translateX(-50%)
      }
      #face_wrap_wrap,
      #jeeFaceFilterCanvas{
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 0;
        transform: translateX(-50%) scaleX(-1)
      }
      #face_wrap_wrap{
        transform: translateX(-50%);
        z-index: 1000;
      }
      body{
        transform: scale(0.9);
      }
      #face_wrap{
        transform: translateX(-50%);
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
      }
      #face_wrap>div{
        position: absolute;
        left: 0;
        top: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        /*display: none;*/
        width: 100%;
        height: 100%;

      }
      .face_ani{
        transform: scaleY(4.5) scaleX(1.5);
        transform-origin: center 47%;
      }
      #face_1{
        background-image: url(face-01.png);
        display: none;
      }
      #face_2{
        background-image: url(face-02.png);
        display: block;
        transition: 1s cubic-bezier(0,.71,.21,1.45)
      }
      #face_3{
        background-image: url(face-03.png);
        display: none;
      }
      #face_4{
        background-image: url(face-04.png);
        display: none;
      }
      .abs_show{
        opacity:1 !important;
      }